@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;600");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Kanit;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  margin: 0;
  font-family: Kanit;
}

.button_primary {
  @apply cursor-pointer text-[16px] px-5 text-white font-semibold rounded-2xl shadow-md outline-none flex items-center justify-center hover:opacity-80;
}
